html {
	padding-bottom: 150px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

footer{
	padding: 10px 20px 10px 20px;
}

#username{
	margin-bottom: 10px;
}

td.timestamp{
	text-align: right;
	color: #aaa;
}

nav.navbar {
	margin-top: 10px;
}


#participants {
	margin-top: 38px;
}